::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:10px; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    
  }


body{
    margin:0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

    /* MENU */
.section{
    height: 650px;
    width: 100%;
    background-image: url("./img/LightModeBackground.jpg");
    background-size: cover;
    background-attachment: fixed;

}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(128, 128, 128,0.4);
    align-items: center;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size:22px;
}

.header-title{
    margin-left:10px;
    color:white;
   
}
.header-list ul{
    display:flex;
    flex-direction: row;

}
.header-list li{
    list-style: none;
    margin-right:20px;
    color:white;
}
.header-list ul :hover{
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    margin-top:50px;
    width: 500px;
    height: 500px;
    align-items: center;
}
.imagem-menu img{
    margin-top: 70px;
    border:2px groove white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
   
}
.text-menu{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size:22px;
    color: white;
}
.menu i{
    margin-top:20px;
    color:grey;
    text-align: center;
    margin-left:20px;
    font-size: 20px;
}
.menu i:hover{
    cursor: pointer;
}
/* //// EXPERIENCIA */

.sectionSlides{
    border-bottom: black solid 1px;
    height: 800px;
    width: 100%;
}

.flex-control-exp{
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 600px;
    margin:0 auto;
}
.flex-sobre-mim{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.texto-mim{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    font-weight: bolder;
    
}
.title-mim{
    height: 10%;
}
.texto-mim h1{
    text-align: center;
    font-size: 30px;
}
.texto-mim h2{
    font-size: 30px;
}
.flex-experienciasP{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
}
.experiencias-box{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    
}
/* ///COMPETENCIAS */
.flex-control-comp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    width:1400px;
    height: 600px;
}
.linguagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    height: 100%;
}
.linguagens h1 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin:0;
}

.flex-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    margin:0 auto;
}
.card-icon{
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-left: 20px;
}
.card-icon span{
    font-weight: bolder;
    font-size: 20px;
}
.progress-bar{
    box-sizing: border-box;
    border-radius: 20px;
    border: 0.5px groove grey;
    height: 80%;
    margin-left:30px;
    min-width: 80%;
}

.inside-bar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 20px;
    height:100%;
    background-color: rgba(13, 170, 8, 0.993);
    margin:0;
}

.inside-bar span{
    font-size: 16px;
    margin:0 auto;
    font-weight: bolder;
}

#html-progress{
    width:80%;
}
#css-progress{
    width: 50%;
}

#js-progress{
    width: 20%;
}

#py-progress{
    width: 30%;
}
 #java-progress{
    width: 30%;
 }

.soft-skills{
    text-align: center;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    height: 100%;
}
.soft-skills h1{
    margin:0; 
}
.flex-soft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    margin:0 auto;
}

.card-soft{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
}

.icon-soft{
    display: flex;
    flex-direction: row;
    
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.icon-soft i{
    font-size: 60px;
    text-align: center;
}
.text-soft{
    border-left:2px solid red;
    border-right: 2px solid red ;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.title-soft{
    display: flex;
    flex-direction:row;
    justify-content: center;
    height: 20%;
    width:100%;
    text-align: center;
}

.title-soft h2{
    text-align: center;
    margin:0;
}

.info-soft{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100%;
}
.info-soft p{
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

}
/* //PROJETOS */
.flex-banner{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    margin:0 auto;
}
.title-banner{
    border-bottom:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 15%;
    align-items: center;
    text-align: center;
}
.title-banner h1{
    margin:0;
}
.image-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;

}
.image-banner img{
    border:1px solid black;
    height: 200px;
    width: 399px;
    box-sizing: border-box;
}
.text-banner{
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top:0;
}
.flex-project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 500px;
    margin:0 auto;
    margin-top:50px;
    
}
.flex-project img{
    box-sizing: border-box;
    border-radius: 50%;
    border:0.5px  solid rgb(87, 87, 87);
    transition: all .2s ease-in-out;
}
.flex-project img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* //CERTIFICADOS */
.flex-control-cert{
    border:3px groove rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    margin:0 auto;
    width:1400px;
    height: 600px;
    align-items: center;
}
.projetos-escolha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    align-items: center;
}
.card{
    border:3px groove rgb(58, 57, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 60%;
    transition: all .2s ease-in-out;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card-icon-cert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.card-icon-cert i{
    font-size: 50px;
}
.card-icon-cert span{
    font-weight: bolder;
    margin-top:10px;
}   
.flex-card-selected{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:50%;
    align-items: center;
}
.card-selected{
    border-radius:10px;
    border: 2px groove rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    align-items: center;
}
.title-course{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    width: 100%;
}
.title-course h1{
    margin:0;
}
.list-course{
    border-top: 2px groove rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
}
.list-ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:80% ;
    flex-wrap: wrap;
}
.list-course li{
    display: none;
    margin-bottom: 10px;
    font-weight: bolder;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0 auto;
    font-size: 30px;
    color: black;
}
/* //FOOTER */
.footer{
    background-color: rgb(83, 82, 82, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.footer i {
    color: black;
    font-size: 30px;
    margin-left:30px;
}
.footer span {
    font-weight: bolder;
    font-size: 30px;
    margin-left:30px;
}

@media (max-width:480px){
    /* HEADER */
    .section{
        width: 100%;
        background-size: contain;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header{
        width: 100%;
    }
    .header-title{
        display: none;
    }
    .header-list ul{
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-evenly;
        
    }
    .sectionSlides{
        width: 100%;
        height: auto;
    }
    /* //experiencias */

    .flex-control-exp{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .flex-sobre-mim{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .flex-experienciasP{
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    /* Competencias */
    
    .title{
        width: 100%;
        flex-direction: column;
        text-align: center;

    }
    .flex-control-comp{
        margin: 0;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    /* Linguagens */
    .linguagens{
        width: 100%;
    }
    .linguagens h1{
        margin-bottom: 30px ;
    }
    .card-icon{
        margin-bottom: 5px;
    }
   /* Soft Skills */
    .soft-skills{
        width: 100%;
        height: 100%;
        margin-top:50px;
        border: none;
    }
    .soft-skills h1{
        margin-bottom: 30px;
    }
    
    .flex-soft{
        flex-wrap: wrap;
        width: 100%;
    }
    .card-soft{
        align-items: center;
    }
      
    .text-soft{
        border:none
    }
    /* Projetos */
    .flex-banner{
        width: 100%;
    }
    .title-banner{
        width: 100%;
        height:20%;
    }
    .image-banner img{
        height: 60%;
        width: 80%;
    }
    .flex-project{
        width: 100%;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .projetos-escolha{
        width: 100%;
        flex-wrap: wrap;
    }
    .flex-card-selected{
        flex-wrap: wrap;
        width: 100%;
    }
    /* Certificados */
    .flex-control-cert{
        width: 100%;
    }
    .projetos-escolha{
        width: 100%;
        flex-wrap: wrap;
    }
    .card{
        height: 50%;
    }
}

@media(min-width: 481px) and (max-width:768px){
    /* HEADER */
    .section{
        width: 100%;
        background-size: contain;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .header{
        justify-content: center;
        width: 100%;
    }
    .header-title{
        display: none;
    }
    .header-list ul{
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-evenly;
        
    }
    /* //experiencias */

    .flex-control-exp{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .flex-sobre-mim{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .flex-experienciasP{
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    /* Competencias */
    .sectionSlides{
        width: 100%;
        height: auto;
    }
    
    .title{
        width: 100%;
        flex-direction: column;
        text-align: center;

    }
    .flex-control-comp{
        margin: 0;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    /* Linguagens */
    .linguagens{
        width: 100%;
    }
    .linguagens h1{
        margin-bottom: 30px ;
    }
    .card-icon{
        margin-bottom: 5px;
    }
   /* Soft Skills */
    .soft-skills{
        width: 100%;
        height: 100%;
        margin-top:50px;
        border: none;
    }
    .soft-skills h1{
        margin-bottom: 30px;
    }
    
    .flex-soft{
        flex-wrap: wrap;
        width: 100%;
    }
    .card-soft{
        align-items: center;
    }
    
        
    .text-soft{
        border:none
    }
    /* Projetos */
    .flex-banner{
        width: 100%;
    }
    .title-banner{
        width: 100%;
        height:20%;
    }
    .image-banner{
        width: 50%;
    }
    .flex-project{
        width: 100%;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .projetos-escolha{
        width: 100%;
        flex-wrap: wrap;
    }
    .flex-card-selected{
        flex-wrap: wrap;
        width: 100%;
    }
    /* Certificados */
    .flex-control-cert{
        width: 100%;
    }
    .projetos-escolha{
        width: 100%;
        flex-wrap: wrap;
    }
    .card{
        height: 50%;
    }
}

@media(min-width: 769px) and (max-width:1279px){
    /* HEADER */
    .section{
        width: 100%;
        background-size: contain;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .header{
        justify-content: center;
        width: 100%;
    }
    .header-title{
        display: none;
    }
    .header-list ul{
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-evenly;
        
    }
    /* //experiencias */

    .flex-control-exp{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .flex-sobre-mim{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .flex-experienciasP{
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    /* Competencias */
    .sectionSlides{
        width: 100%;
        height: auto;
    }
    
    .title{
        width: 100%;
        flex-direction: column;
        text-align: center;

    }
    .flex-control-comp{
        margin: 0;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    /* Linguagens */
    .linguagens{
        width: 100%;
    }
    .linguagens h1{
        margin-bottom: 30px ;
    }
    .card-icon{
        margin-bottom: 5px;
    }
   /* Soft Skills */
    .soft-skills{
        width: 100%;
        height: 100%;
        margin-top:50px;
        border: none;
    }
    .soft-skills h1{
        margin-bottom: 30px;
    }
    
    .flex-soft{
        flex-wrap: wrap;
        width: 100%;
    }
    .card-soft{
        align-items: center;
    }
    
        
    .text-soft{
        border:none
    }
    /* Projetos */
    .flex-banner{
        width: 100%;
        flex-wrap: wrap;
    }
    .title-banner{
        width: 100%;
        height:20%;
    }
    .image-banner{
        width: 50%;
    }
    .flex-project{
        width: 100%;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .projetos-escolha{
        width: 100%;
        flex-wrap: wrap;
    }
    .flex-card-selected{
        flex-wrap: wrap;
        width: 100%;
    }
    /* Certificados */
    .flex-control-cert{
        width: 100%;
    }
    .projetos-escolha{
        width: 100%;
        flex-wrap: wrap;
    }
    .card{
        height: 50%;
    }
}
